body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.stream-box {
    text-align: center;
    margin: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.slider-container {
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

.stream-controls {
    text-align: center;
    margin: 20px;
}

button {
    margin: 5px;
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

