.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.stage {
  color: white
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.stream-box {
    text-align: center;
    margin: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.slider-container {
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

.stream-controls {
    text-align: center;
    margin: 20px;
}

button {
    margin: 5px;
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

